<a href="https://colab.research.google.com/github/ferraa1/AtividadesPython/blob/main/Copy_of_Aula_02_Exerc%C3%ADcios_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importação das bibliotecas pandas, numpy, glob e os:
import pandas as pd
import numpy as np
import glob
import os

In [ ]:
#1 - Existem duas lojas de hardware na cidade: Loja A e Loja B. O estoque da Loja A está no DataFrame estoqueA 
#e o estoque da Loja B está no DataFrame estoqueB. Eles decidiram se fundir em uma grande Super Store!
#Combine os estoques da Loja A e da Loja B. Salve os resultados na variável estoqueAeB.
estoqueA = pd.read_csv('estoqueA.csv')
estoqueB = pd.read_csv('estoqueB.csv')
estoqueAeB = pd.concat([estoqueA,estoqueB])

In [ ]:
#Print a variável estoqueAeB e observe a quantidade de valores NaN
#2 - Substitua os valores NaN por 0
print(estoqueAeB)
estoqueAeB.fillna(0,inplace=True)
print(estoqueAeB)

            item  quantidade_estoque_A  quantidade_estoque_B
0         hammer                  12.0                   NaN
1    screwdriver                  15.0                   NaN
2          nails                 200.0                   NaN
3         screws                 350.0                   NaN
4            saw                   6.0                   NaN
5      duct tape                 150.0                   NaN
6         wrench                  12.0                   NaN
7       pvc pipe                  54.0                   NaN
0         hammer                   NaN                   6.0
1          nails                   NaN                 250.0
2            saw                   NaN                   6.0
3      duct tape                   NaN                 150.0
4       pvc pipe                   NaN                  54.0
5           rake                   NaN                  10.0
6         shovel                   NaN                  15.0
7  wooden dowels                   NaN                 192.0
            item  quantidade_estoque_A  quantidade_estoque_B
0         hammer                  12.0                   0.0
1    screwdriver                  15.0                   0.0
2          nails                 200.0                   0.0
3         screws                 350.0                   0.0
4            saw                   6.0                   0.0
5      duct tape                 150.0                   0.0
6         wrench                  12.0                   0.0
7       pvc pipe                  54.0                   0.0
0         hammer                   0.0                   6.0
1          nails                   0.0                 250.0
2            saw                   0.0                   6.0
3      duct tape                   0.0                 150.0
4       pvc pipe                   0.0                  54.0
5           rake                   0.0                  10.0
6         shovel                   0.0                  15.0
7  wooden dowels                   0.0                 192.0

In [ ]:
#3 - Selecione as linhas de estoqueAeB onde a quantidade em estoque de um item seja maior que 100.
result = estoqueAeB[(estoqueAeB.quantidade_estoque_A > 100) | (estoqueAeB.quantidade_estoque_B > 100)]
print(result)

            item  quantidade_estoque_A  quantidade_estoque_B
2          nails                 200.0                   0.0
3         screws                 350.0                   0.0
5      duct tape                 150.0                   0.0
1          nails                   0.0                 250.0
3      duct tape                   0.0                 150.0
7  wooden dowels                   0.0                 192.0

In [ ]:
#4 - Adicione a coluna estoque_total com a soma da quantidade no estoqueA com a quantidade no estoqueB
estoqueAeB['estoque_total'] = estoqueAeB['quantidade_estoque_A'] + estoqueAeB['quantidade_estoque_B']
print(estoqueAeB)

            item  quantidade_estoque_A  quantidade_estoque_B  estoque_total
0         hammer                  12.0                   0.0           12.0
1    screwdriver                  15.0                   0.0           15.0
2          nails                 200.0                   0.0          200.0
3         screws                 350.0                   0.0          350.0
4            saw                   6.0                   0.0            6.0
5      duct tape                 150.0                   0.0          150.0
6         wrench                  12.0                   0.0           12.0
7       pvc pipe                  54.0                   0.0           54.0
0         hammer                   0.0                   6.0            6.0
1          nails                   0.0                 250.0          250.0
2            saw                   0.0                   6.0            6.0
3      duct tape                   0.0                 150.0          150.0
4       pvc pipe                   0.0                  54.0           54.0
5           rake                   0.0                  10.0           10.0
6         shovel                   0.0                  15.0           15.0
7  wooden dowels                   0.0                 192.0          192.0

In [ ]:
#5 - Combine todos os CSVs que começam com a palavra arquivo em um único DataFrame
files_location = r"/content"
estudantes = pd.DataFrame()
estudantes = pd.concat(map(pd.read_csv,glob.glob(os.path.join(files_location,'arquivo*.csv'))), ignore_index= True)
estudantes

,Unnamed: 0,full_name,gender_age,Fractions,Probability,grade
0,0,Barrett Feragh,M14,76%,72%,9th grade
1,1,Llewellyn Keech,M14,83%,87%,12th grade
2,2,Delilah Sowthcote,F16,90%,79%,10th grade
3,3,Terrell Geri,M15,80%,86%,11th grade
4,4,Gram Hallewell,M14,67%,78%,10th grade
...,...,...,...,...,...,...
895,95,Massimo Babbs,M16,84%,83%,11th grade
896,96,Garrek Manuely,M14,70%,85%,9th grade
897,97,Winslow Lilliman,M15,81%,83%,11th grade
898,98,Grantham Yate,M15,77%,87%,10th grade
899,99,Dennie Chopping,M16,81%,83%,9th grade

In [ ]:
#6 Verique se o DataFrame estudantes possui algum registro duplicado
estudantes.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
895    False
896    False
897    False
898    False
899    False
Length: 900, dtype: bool

In [ ]:
#Inspecione o DataFrame estudantes para conhecer os dados e colunas
#7- A coluna gender_age possui duas informações gênero e idade, divida essa coluna em duas novas, gênero e idade
#Imprima o .head()  para ver como fica o DataFrame após a criação das novas colunas.
print(estudantes.head())
print(estudantes.info())
print(estudantes.describe())

genders = []
ages = []
for index, row in estudantes.iterrows():
  genders.append((estudantes['gender_age'].iloc[index])[0])
  ages.append((estudantes['gender_age'].iloc[index])[1 : : ])
estudantes['gender'] = genders
estudantes['age'] = ages
print(estudantes.head())

   Unnamed: 0          full_name gender_age Fractions Probability       grade
0           0     Barrett Feragh        M14       76%         72%   9th grade
1           1    Llewellyn Keech        M14       83%         87%  12th grade
2           2  Delilah Sowthcote        F16       90%         79%  10th grade
3           3       Terrell Geri        M15       80%         86%  11th grade
4           4     Gram Hallewell        M14       67%         78%  10th grade
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   900 non-null    int64
 1   full_name    900 non-null    object
 2   gender_age   900 non-null    object
 3   Fractions    900 non-null    object
 4   Probability  900 non-null    object
 5   grade        900 non-null    object
dtypes: int64(1), object(5)
memory usage: 42.3+ KB
None
       Unnamed: 0
count   900.00000
mean     49.50000
std      28.88212
min       0.00000
25%      24.75000
50%      49.50000
75%      74.25000
max      99.00000
   Unnamed: 0          full_name gender_age Fractions Probability       grade  \
0           0     Barrett Feragh        M14       76%         72%   9th grade
1           1    Llewellyn Keech        M14       83%         87%  12th grade
2           2  Delilah Sowthcote        F16       90%         79%  10th grade
3           3       Terrell Geri        M15       80%         86%  11th grade
4           4     Gram Hallewell        M14       67%         78%  10th grade

  gender age
0      M  14
1      M  14
2      F  16
3      M  15
4      M  14