<a href="https://colab.research.google.com/github/ferraa1/AtividadesPython/blob/main/Exerc%C3%ADcios_1_e_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ESTA CÉLULA É NECESSÁRIA PARA A EXECUÇÃO DAS OUTRAS CÉLULAS
#AS CÉLULAS DEVEM SER EXECUTADAS EM ORDEM
#AS CÉLULAS DO EXERCÍCIO 1 NÃO PRECISAM SER EXECUTADAS PARA A EXECUÇÃO DAS CÉLULAS DO EXERCÍCIO 2
#Importação das bibliotecas pandas, numpy, glob e os:
import pandas as pd
import numpy as np
import glob
import os

###Exercício 1

In [ ]:
#1 - Leia o CSV 'Filmes'em uma variável chamada df. Digite print(df) na próxima linha veja o que aparece.
df = pd.read_csv('Filmes.csv')
print(df)

      id                                       nome  genero     ano  nota_imdb
0      1                                     Avatar  action  2009.0        7.9
1      2                             Jurassic World  action  2015.0        7.3
2      3                               The Avengers  action  2012.0        8.1
3      4                            The Dark Knight  action  2008.0        9.0
4      5  Star Wars: Episode I - The Phantom Menace  action  1999.0        6.6
..   ...                                        ...     ...     ...        ...
215  216                                   Hannibal   drama  2001.0        6.7
216  217                        Catch Me If You Can   drama  2002.0        8.0
217  218                                  Big Daddy   drama  1999.0        6.4
218  219                                      Se7en   drama  1995.0        8.6
219  220                                      Seven   drama  1979.0        6.1

[220 rows x 5 columns]

In [ ]:
#2 - Quando carregamos um novo DataFrame de um CSV, queremos saber como ele se parece.
#Se for um DataFrame pequeno, você pode exibi-lo digitando print(df).
#Se for um DataFrame maior, é útil poder inspecionar alguns itens sem precisar examinar o DataFrame inteiro.
# Mostre  as 5 primeiras linhas do DataFrame df.
# Mostre algumas estatísticas para cada coluna
print(df.head())
print(df.info())
print(df.describe())

  id                                       nome  genero     ano  nota_imdb
0  1                                     Avatar  action  2009.0        7.9
1  2                             Jurassic World  action  2015.0        7.3
2  3                               The Avengers  action  2012.0        8.1
3  4                            The Dark Knight  action  2008.0        9.0
4  5  Star Wars: Episode I - The Phantom Menace  action  1999.0        6.6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         220 non-null    object
 1   nome       219 non-null    object
 2   genero     219 non-null    object
 3   ano        219 non-null    float64
 4   nota_imdb  219 non-null    float64
dtypes: float64(2), object(3)
memory usage: 8.7+ KB
None
               ano   nota_imdb
count   219.000000  219.000000
mean   2002.972603    6.988584
std      11.157306    0.969066
min    1937.000000    4.200000
25%    1999.000000    6.400000
50%    2006.000000    7.100000
75%    2011.000000    7.700000
max    2015.000000    9.000000

In [ ]:
#Selecionar colunas
#3 - Crie uma variável nomes_filmes que contenha somente os nomes dos filmes
#Depois de criar a variável de o comando print(nomes_filmes)
nomes_filmes = df['nome']
print(nomes_filmes)

0                                         Avatar
1                                 Jurassic World
2                                   The Avengers
3                                The Dark Knight
4      Star Wars: Episode I - The Phantom Menace
                         ...
215                                     Hannibal
216                          Catch Me If You Can
217                                    Big Daddy
218                                        Se7en
219                                        Seven
Name: nome, Length: 220, dtype: object

In [ ]:
#Agora, você quer comparar os filmes através de suas notas 
#4 - Crie uma variável filmes_e_notas que contenha somente dos dados das colunas nome e nota_imdb
#Depois de criar a variável de o comando print(filmes_e_notas)
filmes_e_notas = df[['nome','nota_imdb']]
print(filmes_e_notas)

                                          nome  nota_imdb
0                                       Avatar        7.9
1                               Jurassic World        7.3
2                                 The Avengers        8.1
3                              The Dark Knight        9.0
4    Star Wars: Episode I - The Phantom Menace        6.6
..                                         ...        ...
215                                   Hannibal        6.7
216                        Catch Me If You Can        8.0
217                                  Big Daddy        6.4
218                                      Se7en        8.6
219                                      Seven        6.1

[220 rows x 2 columns]

In [ ]:
#Selecionando linhas
#5 - Escreva um comando que mostre os 10 primeiros registros
print(df.iloc[:10])

   id                                       nome  genero     ano  nota_imdb
0   1                                     Avatar  action  2009.0        7.9
1   2                             Jurassic World  action  2015.0        7.3
2   3                               The Avengers  action  2012.0        8.1
3   4                            The Dark Knight  action  2008.0        9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999.0        6.6
5   6                                  Star Wars  action  1977.0        8.7
6   7                    Avengers: Age of Ultron  action  2015.0        7.9
7   8                      The Dark Knight Rises  action  2012.0        8.5
8   9  Pirates of the Caribbean: Dead Mans Chest  action  2006.0        7.3
9  10                                 Iron Man 3  action  2013.0        7.3

In [ ]:
#6 - Escreva um comando que mostre os 4 últimos registros do DataFrame
print(df.tail(4))

      id                 nome genero     ano  nota_imdb
216  217  Catch Me If You Can  drama  2002.0        8.0
217  218            Big Daddy  drama  1999.0        6.4
218  219                Se7en  drama  1995.0        8.6
219  220                Seven  drama  1979.0        6.1

In [ ]:
df2 = pd.DataFrame([
  [1, 'Parafuso de 3 polegadas', 0.5, 0.75],
  [2, 'Prego de duas polegadas', 0.10, 0.25],
  [3, 'Martelo', 3.00, 5.50],
  [4, 'Chave de fenda', 2.50, 3.00]
],
  columns=['ID do produto', 'Produto', 'Custo de fabricação', 'preço']
)
df2

   ID do produto                  Produto  Custo de fabricação  preço
0              1  Parafuso de 3 polegadas                  0.5   0.75
1              2  Prego de duas polegadas                  0.1   0.25
2              3                  Martelo                  3.0   5.50
3              4           Chave de fenda                  2.5   3.00

In [ ]:
#7 - Adiciona ao df2 a coluna margem que é a diferença entre o preço e custo de fabricação
df2['margem'] = df2['preço'] - df2['Custo de fabricação']
df2

   ID do produto                  Produto  Custo de fabricação  preço  margem
0              1  Parafuso de 3 polegadas                  0.5   0.75    0.25
1              2  Prego de duas polegadas                  0.1   0.25    0.15
2              3                  Martelo                  3.0   5.50    2.50
3              4           Chave de fenda                  2.5   3.00    0.50

In [ ]:
#8 - Altere o nome da coluna ID do produto para ID e Produto para Descrição
df2.columns = ['ID', 'Descrição', 'Custo de fabricação', 'preço', 'margem']
df2

   ID                Descrição  Custo de fabricação  preço  margem
0   1  Parafuso de 3 polegadas                  0.5   0.75    0.25
1   2  Prego de duas polegadas                  0.1   0.25    0.15
2   3                  Martelo                  3.0   5.50    2.50
3   4           Chave de fenda                  2.5   3.00    0.50

In [ ]:
#Leia o CSV 'olimpíadas'em uma variável chamada df3.
#Examine o DataFrame para entender o conjunto de dados
df3 = pd.read_csv('olimpíadas.csv')
print(df3)
print(df3.head())
print(df3.info())
print(df3.describe())

      ano  edicao cidade_sede       pais delegacao                   equipe  \
0    1896  Summer      Athina     Brazil       AUS                Australia
1    1896  Summer      Athina  Australia       AUS                Australia
2    1896  Summer      Athina  Australia       AUS                Australia
3    1896  Summer      Athina  Australia       AUS  Australia/Great Britain
4    1896  Summer      Athina  Australia       AUS                Australia
..    ...     ...         ...        ...       ...                      ...
137  1908  Summer      London     Sweden       SWE                   Sweden
138  1908  Summer      London     Sweden       SWE                   Sweden
139  1908  Summer      London     Sweden       SWE                   Sweden
140  1908  Summer      London     Sweden       SWE                   Sweden
141  1908  Summer      London     Sweden       SWE                   Sweden

     id_atleta                     nome_atleta sexo  idade  altura  peso  \
0        35698      Edwin Harold "Teddy" Flack    M   22.0     NaN   NaN
1        35698      Edwin Harold "Teddy" Flack    M   22.0     NaN   NaN
2        35698      Edwin Harold "Teddy" Flack    M   22.0     NaN   NaN
3        35698      Edwin Harold "Teddy" Flack    M   22.0     NaN   NaN
4        35698      Edwin Harold "Teddy" Flack    M   22.0     NaN   NaN
..         ...                             ...  ...    ...     ...   ...
137      55492  Nils Gustaf Johnsson (-Weidel)    M   18.0     NaN   NaN
138      55494     Rolf Vilhelm Oscar Johnsson    M   18.0     NaN   NaN
139      55813            Gustaf Adolf Jonsson    M   28.0     NaN   NaN
140      55813            Gustaf Adolf Jonsson    M   28.0     NaN   NaN
141      55813            Gustaf Adolf Jonsson    M   28.0     NaN   NaN

        esporte                                             evento medalha
0     Athletics                       Athletics Men's 1,500 metres    Gold
1     Athletics                         Athletics Men's 800 metres    Gold
2     Athletics                           Athletics Men's Marathon     NaN
3        Tennis                               Tennis Men's Doubles  Bronze
4        Tennis                               Tennis Men's Singles     NaN
..          ...                                                ...     ...
137  Gymnastics                   Gymnastics Men's Team All-Around    Gold
138  Gymnastics                   Gymnastics Men's Team All-Around    Gold
139    Shooting  Shooting Men's Free Rifle, Three Positions, 30...     NaN
140    Shooting  Shooting Men's Free Rifle, Three Positions, 30...  Silver
141    Shooting  Shooting Men's Military Rifle, 200/500/600/800...     NaN

[142 rows x 15 columns]
    ano  edicao cidade_sede       pais delegacao                   equipe  \
0  1896  Summer      Athina     Brazil       AUS                Australia
1  1896  Summer      Athina  Australia       AUS                Australia
2  1896  Summer      Athina  Australia       AUS                Australia
3  1896  Summer      Athina  Australia       AUS  Australia/Great Britain
4  1896  Summer      Athina  Australia       AUS                Australia

   id_atleta                 nome_atleta sexo  idade  altura  peso    esporte  \
0      35698  Edwin Harold "Teddy" Flack    M   22.0     NaN   NaN  Athletics
1      35698  Edwin Harold "Teddy" Flack    M   22.0     NaN   NaN  Athletics
2      35698  Edwin Harold "Teddy" Flack    M   22.0     NaN   NaN  Athletics
3      35698  Edwin Harold "Teddy" Flack    M   22.0     NaN   NaN     Tennis
4      35698  Edwin Harold "Teddy" Flack    M   22.0     NaN   NaN     Tennis

                         evento medalha
0  Athletics Men's 1,500 metres    Gold
1    Athletics Men's 800 metres    Gold
2      Athletics Men's Marathon     NaN
3          Tennis Men's Doubles  Bronze
4          Tennis Men's Singles     NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ano          142 non-null    int64
 1   edicao       142 non-null    object
 2   cidade_sede  142 non-null    object
 3   pais         142 non-null    object
 4   delegacao    142 non-null    object
 5   equipe       142 non-null    object
 6   id_atleta    142 non-null    int64
 7   nome_atleta  142 non-null    object
 8   sexo         142 non-null    object
 9   idade        127 non-null    float64
 10  altura       21 non-null     float64
 11  peso         27 non-null     float64
 12  esporte      142 non-null    object
 13  evento       142 non-null    object
 14  medalha      54 non-null     object
dtypes: float64(3), int64(2), object(10)
memory usage: 16.8+ KB
None
               ano      id_atleta       idade      altura       peso
count   142.000000     142.000000  127.000000   21.000000  27.000000
mean   1896.845070   65361.429577   23.370079  164.952381  64.962963
std       3.081162   30306.380729    4.141933    7.439598   7.842103
min    1896.000000   12563.000000   17.000000  154.000000  45.000000
25%    1896.000000   35741.000000   21.000000  159.000000  59.000000
50%    1896.000000   55493.000000   23.000000  167.000000  70.000000
75%    1896.000000   98135.750000   26.000000  167.000000  70.000000
max    1908.000000  122526.000000   36.000000  179.000000  76.000000

In [ ]:
#9 - Escreva um comando que mostre o nome dos atletas brasileiros com mais de 30 anos e do sexo masculino que participaram
#das olimpíadas a partir de 2012
df3[(df3.pais == 'Brazil') & (df3.idade > 30) & (df3.ano >= 2012) & (df3.sexo == 'M')]

Empty DataFrame
Columns: [ano, edicao, cidade_sede, pais, delegacao, equipe, id_atleta, nome_atleta, sexo, idade, altura, peso, esporte, evento, medalha]
Index: []

In [ ]:
#10 - Crie uma variável media_idade que contenha a média de idade dos atletas brasileiros
#Depois de criar a variável de o comando print(media_idade)
result = df3[df3.pais == 'Brazil']
media_idade = np.mean(result['idade'])
print(media_idade)

22.0

In [ ]:
#11 - Escreva um comando que mostre o nome, idade e ano de participação do atleta brasileiro mais velho
#que participou dos jogos olimpícos
result = df3[df3.pais == 'Brazil'].reset_index()
result = result.iloc[result['idade'].idxmax()]
result = result[['nome_atleta','idade','ano']]
result

nome_atleta    Edwin Harold "Teddy" Flack
idade                                22.0
ano                                  1896
Name: 0, dtype: object

In [ ]:
#12 - Escreva um comando que mostre o nome, o ano e idade do atleta brasileiro mais jovem a ganhar uma medalha de ouro.
result = df3[(df3.pais == 'Brazil') & (df3.medalha == 'Gold')].reset_index()
result = result.iloc[result['idade'].idxmin()]
result = result[['nome_atleta','idade','ano']]
result

nome_atleta    Edwin Harold "Teddy" Flack
idade                                22.0
ano                                  1896
Name: 0, dtype: object

In [ ]:
#13 - Crie uma variável total_pais que contenha o total de medalhas por pais
#Depois de criar a variável de o comando print(total_pais)
total_pais = (df3.groupby(['pais']).count())['medalha']
print(total_pais)

pais
Australia     2
Austria       5
Brazil        1
Denmark       6
France       11
Germany      24
Sweden        5
Name: medalha, dtype: int64

In [ ]:
#Voltando ao primeiro DataFrame sobre filmes
#14 - Escreva um comando que mostre quais o generos de filmes estão disponíveis no DataFrame.
#Obs: Não é só mostrar a coluna gênero
for x in df.groupby(['genero']).groups.keys():
  print(x)

action
comedy
drama
horror
romance

In [ ]:
#15 - Escreva um comando que apresente a média das notas dos filmes por ano.
print(df.groupby(['ano']).mean())

        nota_imdb
ano
1937.0   7.700000
1939.0   8.200000
1965.0   8.000000
1975.0   8.100000
1977.0   8.700000
1978.0   5.700000
1979.0   6.150000
1980.0   8.800000
1982.0   7.400000
1983.0   8.400000
1984.0   7.433333
1985.0   8.500000
1986.0   7.600000
1987.0   5.900000
1988.0   8.000000
1989.0   6.700000
1990.0   7.325000
1991.0   7.450000
1992.0   7.750000
1993.0   6.900000
1994.0   7.775000
1995.0   7.600000
1996.0   6.925000
1997.0   6.487500
1998.0   7.600000
1999.0   6.609091
2000.0   6.728571
2001.0   6.825000
2002.0   6.912500
2003.0   7.014286
2004.0   6.485714
2005.0   6.750000
2006.0   6.712500
2007.0   6.781818
2008.0   7.000000
2009.0   6.678571
2010.0   6.927273
2011.0   6.820000
2012.0   7.166667
2013.0   7.078571
2014.0   7.415385
2015.0   7.028571

###Exercício 2

In [ ]:
#1 - Existem duas lojas de hardware na cidade: Loja A e Loja B. O estoque da Loja A está no DataFrame estoqueA 
#e o estoque da Loja B está no DataFrame estoqueB. Eles decidiram se fundir em uma grande Super Store!
#Combine os estoques da Loja A e da Loja B. Salve os resultados na variável estoqueAeB.
estoqueA = pd.read_csv('estoqueA.csv')
estoqueB = pd.read_csv('estoqueB.csv')
estoqueAeB = pd.concat([estoqueA,estoqueB])

In [ ]:
#Print a variável estoqueAeB e observe a quantidade de valores NaN
#2 - Substitua os valores NaN por 0
print(estoqueAeB)
estoqueAeB.fillna(0,inplace=True)
print(estoqueAeB)

            item  quantidade_estoque_A  quantidade_estoque_B
0         hammer                  12.0                   NaN
1    screwdriver                  15.0                   NaN
2          nails                 200.0                   NaN
3         screws                 350.0                   NaN
4            saw                   6.0                   NaN
5      duct tape                 150.0                   NaN
6         wrench                  12.0                   NaN
7       pvc pipe                  54.0                   NaN
0         hammer                   NaN                   6.0
1          nails                   NaN                 250.0
2            saw                   NaN                   6.0
3      duct tape                   NaN                 150.0
4       pvc pipe                   NaN                  54.0
5           rake                   NaN                  10.0
6         shovel                   NaN                  15.0
7  wooden dowels                   NaN                 192.0
            item  quantidade_estoque_A  quantidade_estoque_B
0         hammer                  12.0                   0.0
1    screwdriver                  15.0                   0.0
2          nails                 200.0                   0.0
3         screws                 350.0                   0.0
4            saw                   6.0                   0.0
5      duct tape                 150.0                   0.0
6         wrench                  12.0                   0.0
7       pvc pipe                  54.0                   0.0
0         hammer                   0.0                   6.0
1          nails                   0.0                 250.0
2            saw                   0.0                   6.0
3      duct tape                   0.0                 150.0
4       pvc pipe                   0.0                  54.0
5           rake                   0.0                  10.0
6         shovel                   0.0                  15.0
7  wooden dowels                   0.0                 192.0

In [ ]:
#3 - Selecione as linhas de estoqueAeB onde a quantidade em estoque de um item seja maior que 100.
result = estoqueAeB[(estoqueAeB.quantidade_estoque_A > 100) | (estoqueAeB.quantidade_estoque_B > 100)]
print(result)

            item  quantidade_estoque_A  quantidade_estoque_B
2          nails                 200.0                   0.0
3         screws                 350.0                   0.0
5      duct tape                 150.0                   0.0
1          nails                   0.0                 250.0
3      duct tape                   0.0                 150.0
7  wooden dowels                   0.0                 192.0

In [ ]:
#4 - Adicione a coluna estoque_total com a soma da quantidade no estoqueA com a quantidade no estoqueB
estoqueAeB['estoque_total'] = estoqueAeB['quantidade_estoque_A'] + estoqueAeB['quantidade_estoque_B']
print(estoqueAeB)

            item  quantidade_estoque_A  quantidade_estoque_B  estoque_total
0         hammer                  12.0                   0.0           12.0
1    screwdriver                  15.0                   0.0           15.0
2          nails                 200.0                   0.0          200.0
3         screws                 350.0                   0.0          350.0
4            saw                   6.0                   0.0            6.0
5      duct tape                 150.0                   0.0          150.0
6         wrench                  12.0                   0.0           12.0
7       pvc pipe                  54.0                   0.0           54.0
0         hammer                   0.0                   6.0            6.0
1          nails                   0.0                 250.0          250.0
2            saw                   0.0                   6.0            6.0
3      duct tape                   0.0                 150.0          150.0
4       pvc pipe                   0.0                  54.0           54.0
5           rake                   0.0                  10.0           10.0
6         shovel                   0.0                  15.0           15.0
7  wooden dowels                   0.0                 192.0          192.0

In [ ]:
#5 - Combine todos os CSVs que começam com a palavra arquivo em um único DataFrame
files_location = r"/content"
estudantes = pd.DataFrame()
estudantes = pd.concat(map(pd.read_csv,glob.glob(os.path.join(files_location,'arquivo*.csv'))), ignore_index= True)
estudantes

,Unnamed: 0,full_name,gender_age,Fractions,Probability,grade
0,0,Barrett Feragh,M14,76%,72%,9th grade
1,1,Llewellyn Keech,M14,83%,87%,12th grade
2,2,Delilah Sowthcote,F16,90%,79%,10th grade
3,3,Terrell Geri,M15,80%,86%,11th grade
4,4,Gram Hallewell,M14,67%,78%,10th grade
...,...,...,...,...,...,...
895,95,Massimo Babbs,M16,84%,83%,11th grade
896,96,Garrek Manuely,M14,70%,85%,9th grade
897,97,Winslow Lilliman,M15,81%,83%,11th grade
898,98,Grantham Yate,M15,77%,87%,10th grade
899,99,Dennie Chopping,M16,81%,83%,9th grade

In [ ]:
#6 Verique se o DataFrame estudantes possui algum registro duplicado
estudantes.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
895    False
896    False
897    False
898    False
899    False
Length: 900, dtype: bool

In [ ]:
#Inspecione o DataFrame estudantes para conhecer os dados e colunas
#7- A coluna gender_age possui duas informações gênero e idade, divida essa coluna em duas novas, gênero e idade
#Imprima o .head()  para ver como fica o DataFrame após a criação das novas colunas.
print(estudantes.head())
print(estudantes.info())
print(estudantes.describe())

genders = []
ages = []
for index, row in estudantes.iterrows():
  genders.append((estudantes['gender_age'].iloc[index])[0])
  ages.append((estudantes['gender_age'].iloc[index])[1 : : ])
estudantes['gender'] = genders
estudantes['age'] = ages
print(estudantes.head())

   Unnamed: 0          full_name gender_age Fractions Probability       grade
0           0     Barrett Feragh        M14       76%         72%   9th grade
1           1    Llewellyn Keech        M14       83%         87%  12th grade
2           2  Delilah Sowthcote        F16       90%         79%  10th grade
3           3       Terrell Geri        M15       80%         86%  11th grade
4           4     Gram Hallewell        M14       67%         78%  10th grade
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   900 non-null    int64
 1   full_name    900 non-null    object
 2   gender_age   900 non-null    object
 3   Fractions    900 non-null    object
 4   Probability  900 non-null    object
 5   grade        900 non-null    object
dtypes: int64(1), object(5)
memory usage: 42.3+ KB
None
       Unnamed: 0
count   900.00000
mean     49.50000
std      28.88212
min       0.00000
25%      24.75000
50%      49.50000
75%      74.25000
max      99.00000
   Unnamed: 0          full_name gender_age Fractions Probability       grade  \
0           0     Barrett Feragh        M14       76%         72%   9th grade
1           1    Llewellyn Keech        M14       83%         87%  12th grade
2           2  Delilah Sowthcote        F16       90%         79%  10th grade
3           3       Terrell Geri        M15       80%         86%  11th grade
4           4     Gram Hallewell        M14       67%         78%  10th grade

  gender age
0      M  14
1      M  14
2      F  16
3      M  15
4      M  14