<a href="https://colab.research.google.com/github/ferraa1/AtividadesPython/blob/main/PythonExercicios02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercícios - Loops e Condiconais

In [ ]:
# Exercício 1 - Crie uma estrutura que pergunte ao usuário qual o dia da semana. Se o dia for igual a Domingo ou 
# igual a sábado, imprima na tela "Hoje é dia de descanso", caso contrário imprima na tela "Você precisa trabalhar!"
dia = input(print("Informe o dia da semana: "))
if dia == "sabado" or dia == "domingo":
  print("Hoje é dia de descanso!")
else:
  print("Você precisa trabalhar!")

In [ ]:
# Exercício 2 - Crie uma lista de 5 frutas e verifique se a fruta 'Morango' faz parte da lista
frutas = ["uva","banana","morango","abacaxi","laranja"]
contador = 0
for f in frutas:
  if f == "morango":
    contador += 1
if contador > 0:
  print("Morango faz parte da lista!")
else:
  print("Morango não faz parte da lista!")

In [ ]:
# Exercício 3 - Crie uma tupla de 4 elementos, multiplique cada elemento da tupla por 2 e guarde os resultados em uma 
# lista
tuplaOrigem = (1,2,3,4)
listaDestino = []
for x in tuplaOrigem:
  listaDestino += [(x * 2)]
print(listaDestino)

In [ ]:
# Exercício 4 - Crie uma sequência de números pares entre 100 e 150 e imprima na tela
pares = list(range(100,151,2))
print(pares)

In [ ]:
# Exercício 5 - Crie uma variável chamada temperatura e atribua o valor 40. Enquanto temperatura for maior que 35, 
# imprima as temperaturas na tela
temperatura = 40
limiteArbitrarioDeCemRepeticoes = 100
while limiteArbitrarioDeCemRepeticoes > 0:
  if temperatura > 35:
    print(temperatura)
  limiteArbitrarioDeCemRepeticoes -= 1

In [ ]:
# Exercício 6 - Crie uma variável chamada contador = 0. Enquanto counter for menor que 100, imprima os valores na tela,
# mas quando for encontrado o valor 23, interrompa a execução do programa
contador = 0
while contador < 100:
  if contador == 23:
    break
  else:
    print(contador)
  contador += 1

In [ ]:
# Exercício 7 - Crie uma lista vazia e uma variável com valor 4. Enquanto o valor da variável for menor ou igual a 20, 
# adicione à lista, apenas os valores pares e imprima a lista
lista = []
variavel = 4
while variavel <= 20:
  if variavel % 2 == 0:
    lista.append(variavel)
  variavel += 1
print(lista)

In [ ]:
# Exercício 8 - Transforme o resultado desta função range em uma lista: range(5, 45, 2)
nums = list(range(5, 45, 2))
print(nums)

In [ ]:
# Exercício 9 - Faça a correção dos erros no código abaixo e execute o programa. Dica: são 3 erros.
temperatura = float(input('Qual a temperatura? '))
if temperatura > 30: #FALTANDO DOIS PONTOS
  print('Vista roupas leves.') #FALTANDO INDENTAÇÃO
else: #FALTANDO DOIS PONTOS
    print('Busque seus casacos.')

In [ ]:
# Exercício 10 - Faça um programa que conte quantas vezes a letra "r" aparece na frase abaixo. Use um placeholder na 
# sua instrução de impressão

# “É melhor, muito melhor, contentar-se com a realidade; se ela não é tão brilhante como os sonhos, tem pelo menos a 
# vantagem de existir.” (Machado de Assis)

frase = "É melhor, muito melhor, contentar-se com a realidade; se ela não é tão brilhante como os sonhos, tem pelo menos a vantagem de existir."
contador = 0
for x in frase:
  if x == "r":
    contador += 1
print("A letra \"r\" aparece %d vezes na fraze." %(contador))

#Exercícios -  Métodos e Funções

In [ ]:
# Exercício 11 - Crie uma função que imprima a sequência de números pares entre 1 e 20 (a função não recebe parâmetro) e 
# depois faça uma chamada à função para listar os números
def numerosPares():
  for x in range(1,21):
    if x % 2 == 0:
      print(x)
print(numerosPares())

In [ ]:
# Exercício 12 - Crie uam função que receba uma string como argumento e retorne a mesma string em letras maiúsculas.
# Faça uma chamada à função, passando como parâmetro uma string
def maiuscularizar(texto):
  return texto.upper()
print(maiuscularizar("teste teste teste"))

In [ ]:
# Exercício 13 - Crie uma função que receba um argumento formal e uma possível lista de elementos. Faça duas chamadas 
# à função, com apenas 1 elemento e na segunda chamada com 4 elementos
def funcao(formal,*lista):
  print(formal)
  for x in lista:
    print(x)

funcao("um")
funcao(1,2,3,4)

um
1
2
3
4

In [ ]:
# Abaixo você encontra a importação do Pandas, um dos principais pacotes Python para análise de dados.
# Analise atentamente todos os métodos disponíveis. Um deles você vai usar no próximo exercício.
import pandas as pd
dir(pd)

In [ ]:
# Exercício 14
# ************* Desafio ************* (pesquise na documentação Python)

# Exercício 10 - Crie uma função que receba o arquivo abaixo como argumento e retorne um resumo estatístico descritivo 
# do arquivo. Dica, use Pandas e um de seus métodos, describe()
# Arquivo: "binary.csv"
import pandas as pd
file_name = "binary.csv"

pd.read_csv(file_name).describe()

          admit         gre       gpa      rank
count  5.000000    5.000000  5.000000  5.000000
mean   0.600000  616.000000  3.480000  3.000000
std    0.547723  185.148589  0.421307  1.224745
min    0.000000  380.000000  2.930000  1.000000
25%    0.000000  520.000000  3.190000  3.000000
50%    1.000000  640.000000  3.610000  3.000000
75%    1.000000  660.000000  3.670000  4.000000
max    1.000000  880.000000  4.000000  4.000000